<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LEAFER</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="styles/about.css" />
    </head>
    <body>
        <header>
            <h1 class="headerText">LEAFER</h1>
            <a class="link" href="/home"> <p class="aboutText headerText">Home</p></a>
        </header>

        <div class="wholeScreen">
            <div class="mainPart">
                <div class="text">
                    <div class="aboutTitle"><h2>ABOUT</h2></div>
                    <div class="aboutTextBox"><p>This is just a leaf blog website</p></div>
                </div>
                <div class="contact">
                    <div class="email">
                        <a href="mailto:rino.bago@gmail.com"><img src="images/envelope.svg" alt="" class="svg" /></a>
                    </div>
                    <div class="instagram">
                        <a href="https://www.instagram.com/r1n0bag0/"><img src="images/instagram.svg" alt="" class="svg" /></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="../index.js"></script>
    </body>
</html>
