<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LEAFER</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="styles/create.css" />
    </head>
    <body>
        <header>
            <h1 class="headerText">LEAFER</h1>
            <a class="link" href="/about"><p class="aboutText headerText">About</p></a>
        </header>
        <div class="mainPart">
            <div class="leftBox">
                <div class="yourBlogsBox">
                    <div class="headerYourBlogsBox">
                        <h2>YOUR BLOGS</h2>
                    </div>
                    <div class="blogNamesBox">
                        <div class="names"></div>
                        <div class="buttonBox">
                            <div class="addBlogButton">
                                <p>+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightBox">
                <div class="textBox">
                    <textarea type="text" placeholder="Type here..." class="textInput"></textarea>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="js/home.js"></script>
    </body>
</html>
