<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LEAFER</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        <header>
            <h1 class="headerText">LEAFER</h1>
            <a class="link" href="/about"><p class="aboutText headerText">About</p></a>
        </header>
        <div class="mainPart">
            <div class="createBox">
                <p class="createBoxTitle">CREATE YOUR BLOG</p>
                <div class="innerCreateBox">
                    <a class="link" href="/home">
                        <div class="createButton">
                            <p class="plus">+</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="../index.js"></script>
    </body>
</html>
